code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	width: 480px;
	height: 960px;
	border: 0.1px solid #ddd;
	display: flex;
	position: relative;
	flex-direction: column;
}

/* .footer {
	height: 48px;
	background-color: #ddd;
	background-image: url(../assets/img/footer.png);
	background-size: contain;
	background-repeat: repeat;
} */
#icon_video path {
	stroke-width: 1.3;
}