code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	width: 480px;
	height: 960px;
	border: 0.1px solid #ddd;
	display: flex;
	position: relative;
	flex-direction: column;
}

#icon_video path {
	stroke-width: 1.2;
}

.main::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
