@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.emoji-sizer {
		@apply h-3 w-3 overflow-hidden text-transparent select-none;
	}
	.message-text-main {
		@apply rounded-xl py-2 px-3 flex flex-col max-w-[366px] min-w-[80px] border border-gray-300 border-opacity-80 box-border tracking-tight;
	}
	.icon-share-image {
		@apply rounded-full flex justify-center items-center bg-white w-7 h-7 self-center ml-2 border border-gray-200 shadow-sm;
	}
	.icon_count_emoji {
		@apply bg-white px-[0.3rem] h-[18px] rounded-xl flex items-center text-xs border box-content;
	}
	.flex_emoji {
		@apply absolute bottom-[-14px] right-[2px] flex items-center;
	}
	.icon-emoji {
		@apply bg-white h-[25px] aspect-square rounded-full flex justify-center items-center border box-border;
	}
	.hd-label {
		@apply bg-white rounded-[4px] absolute top-2 left-2 px-1 font-medium text-xs font-robo;
	}
	.message-image {
		@apply bg-contain rounded-xl border border-gray-300;
	}
	.message-image-flx {
		@apply relative ml-1 max-w-[380px] min-w-[254px];
	}
	.time-stamp {
		@apply text-[0.7rem] font-apple text-gray-500;
	}
	.call_container {
		@apply w-[176px] h-[81px] rounded-lg border border-gray-300 flex flex-col relative;
	}
	.button_primary {
		@apply border rounded-sm px-3 font-bold ml-auto  hover:ring-1;
	}
	.timeStamp_text_me_inner,
	.timeStamp_text_you_inner {
		@apply text-[12px] -mt-1 mb-0 text-gray-400 self-start font-lato tracking-normal;
	}
	.lastMessage {
		@apply flex flex-row-reverse px-4 mb-2;
	}
	.separate_reply {
		@apply min-w-[0.25rem] w-1 h-9 self-center bg-blue-500 rounded-lg mr-3;
	}
}

.icon_edit_message {
	display: none;
}
.message_container:hover .icon_edit_message {
	display: flex;
}
.message_form label {
	cursor: pointer;
}

.inputTextField,
.datePicker,
.inputNumber {
	width: 100% !important;
}

.author_me + .author_you {
	margin-top: 0.5rem;
}
.author_you + .author_me {
	margin-top: 0.5rem;
}

.emoji {
	display: inline-flex;
	height: 1rem;
	width: 1rem;
}

.emoji {
	background: url('https://i.postimg.cc/yxT1L8my/all-emoji.png') no-repeat scroll var(--position);
}
.linkInText {
	text-decoration: underline;
}
